#banner {
  height: 850px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  //   background-image: url(../public/images/banner1.jpg);
  .flexDv {
    width: 100%;
  }
  video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .bgOverlay {
    height: 100%;
    top: 0;
    width: 100%;
    position: absolute;
    left: 0;
    background-image: url("../public/images/dot.png");
    background-size: auto;
    background-repeat: repeat;
    background-position: center center;
    background-color: #0303038f;
  }
  .text {
    max-width: 850px;
    // margin: auto;
    // text-align: center;
    h1 {
      font-size: 8rem;
      margin-bottom: 30px;
      @include ipad_sm {
        font-size: 6rem;
      }
      @include mobile_sm {
        font-size: 5rem;
      }
    }
    p {
      font-size: 2.5rem;
    }

    .btn_blk {
      //   justify-content: center;
      margin-top: 40px;
    }
  }
  .socialbar {
    position: absolute;
    white-space: nowrap;
    top: 50%;
    left: 2%;
    transform: translate(-50%, -50%);
    content: "";

    li {
      display: block;
      height: 25px;
      margin: 0px 0px 12px 0px;
      width: 25px;
      img {
        height: 25px;
        object-fit: cover;
        width: 25px;
      }
    }
  }
}

.logoflx {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 24rem;
  float: left;
  position: relative;
  z-index: 1000;
  height: 6rem;
  h3 {
    color: $primary-color;
  }
}

#red_zone {
  background-color: $primary-color;
  .text {
    text-align: center;
    h2 {
      font-family: "Regular";
      font-size: 5rem;
    }
  }
}

#about {
  background-image: url("../public/images/bg1.svg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 35% auto;
  @include mobile_sm {
    .col {
      flex: unset;
    }
  }

  .col1 {
    padding-right: 40px;
    @include mobile_sm {
      width: 100%;
    }
    .image {
      @include img(100%);
      background-color: transparent;
      box-shadow: none;
      @include radius(50%);
      img {
        @include object(cover);
        @include pos;
      }
    }
  }

  .col2 {
    @include mobile_sm {
      width: 100%;
      padding-left: 0;
      padding-top: 20px;
    }
    padding-left: 40px;
    align-self: center;
  }
}

.content_center {
  max-width: 650px;
  text-align: center;
  margin: 0 auto 30px;
}
#program {
  position: relative;
  &::before {
    height: 100%;
    top: 0;
    width: 100%;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(3 3 3 / 37%);
  }
  @include bg;
  background-image: url("../public/images/bg2.webp");
  .col1 {
    width: calc(100% / 3);
    @include mobile_sm {
      width: 100%;
    }
    padding: 90px 60px;
    .inner {
      text-align: center;
      position: relative;
      h2 {
        margin-bottom: 0;
        position: absolute;
        top: -73px;
        bottom: 0;
        color: #93363e;
        font-size: 126px;
        left: 0;
        right: 0;
      }
      h3 {
        font-family: "Regular";
        margin-bottom: 0;
        z-index: 2;
        position: relative;
        font-size: 2rem;
      }
    }
  }
  .btn_blk {
    justify-content: center;
  }
}

#choose {
  position: relative;
  &::before {
    height: 100%;
    top: 0;
    width: 100%;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(3 3 3 / 37%);
  }
  @include bg;
  background-image: url("../public/images/bg2.webp");
  .col {
    flex: unset;
  }
  .col1 {
    padding-left: 40px;
    width: 45%;
    align-self: center;
    .image {
      @include img(100%);
      background-color: transparent;
      box-shadow: none;
      @include radius(50%);
      img {
        @include object(cover);
        @include pos;
      }
    }
  }

  .col2 {
    align-self: center;
    width: 100%;
    .col3 {
      width: calc(100% / 4);
      @include ipad_sm {
        width: calc(100% / 2);
      }
      @include mobile_sm {
        width: 100%;
      }
      padding: 30px;
      .icon {
        height: 70px;
        width: 70px;
        background-color: $black;
        padding: 10px;
        text-align: center;
        border-radius: 15px;
        margin-bottom: 30px;
      }
    }
  }
}

#video {
  background-image: url("../public/images/service-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  .outer {
    border: 2px solid #2a2a2a;
    padding: 20px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    .s1 {
      background-color: $primary-color;
      height: 30px;
      width: 200px;
      top: 0;
      left: 50%;
      margin-left: -100px;
      transform: skewX(45deg);
      position: absolute;
      content: "";
    }
    .s2 {
      background-color: $primary-color;
      height: 200px;
      width: 30px;
      top: 50%;
      left: 0;
      margin-top: -100px;
      transform: skewY(-45deg);
      position: absolute;
      content: "";
    }
    .s3 {
      position: absolute;
      content: "";
      background-color: $primary-color;
      bottom: 0;
      height: 85px;
      width: 200px;
      right: 0;
      transform: skewX(45deg);
    }
    .inner {
      height: 510px;
      position: relative;
      border-radius: 15px;
      background-image: url("../public/images/video-bg.jpg");
      @include bg;
      a {
        img {
          z-index: 2;
          position: absolute;
          height: 30px;
          width: 30px;
          text-align: center;
          line-height: 30px;
          left: 1px;
          top: 2px;
          font-size: 20px;
        }
        position: absolute;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        left: 50%;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        &::before {
          height: 100px;
          width: 100px;
          background-color: $primary-color;
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          display: block;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          -webkit-transform: translateX(-50%) translateY(-50%);
          -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
          z-index: 0;
          -webkit-animation: pulse-border 1500ms ease-out infinite;
          animation: pulse-border 1500ms ease-out infinite;
        }
        &::after {
          height: 100px;
          width: 100px;
          background-color: $primary-color;
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          display: block;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          -webkit-transform: translateX(-50%) translateY(-50%);
          -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
          z-index: 1;
          transition: all 200ms;
        }
      }
    }
  }
}

@keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0)
      scale(1.5);
    -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

#trainer {
  .flex {
    @include ipad_sm {
      justify-content: center;
    }
  }
  .col {
    width: calc(100% / 3);

    @include ipad_sm {
      width: calc(100% / 2);
      flex: unset;
    }
    @include mobile_sm {
      width: 100%;
    }
    padding: 10px;
    .inner {
      position: relative;
      .image {
        @include img(136%);
        background-color: transparent;
        box-shadow: none;
        @include radius(5%);
        img {
          @include object(cover);
          @include pos;
        }
      }
      .text {
        background-color: $primary-color;
        position: absolute;
        bottom: 40px;
        display: inline-block;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        padding: 20px 30px 20px 30px;
        min-width: 70%;
        border: 2px solid $primary-color;
        border-radius: 15px;
        color: #fff;
        h4 {
          margin-bottom: 6px;
        }
      }
    }
  }
}

// ===================testimonial_sec============
.testimonial_sec {
  .owl-carousel {
    .item {
      .inner {
        background-color: #282828;
        padding: 4rem 7rem;
        @include radius(18px);
        text-align: center;
        max-width: 90rem;
        margin: 0 auto;
        .testi_icon {
          width: 8rem;
          height: 8rem;
          @include radius(50px);
          overflow: hidden;
          margin: 0 auto 2rem;
          img {
            @include object;
          }
        }
        p {
          font-style: italic;
        }
        .testi_footer {
          margin-top: 2rem;
          h5 {
            margin-bottom: 0.5rem;
            font-size: 1.6rem;
          }
          h6 {
            margin-bottom: 0;
            color: $primary-color;
            font-size: 1.3rem;
          }
        }
      }
    }
    .owl-nav {
      top: 45%;
    }
  }
}

#partner {
  // padding-top: 0;
  .col {
    width: calc(100% / 5);
    padding: 20px;
    .image {
      @include img(60%);
      background-color: transparent;
      box-shadow: none;
      @include radius(0);
      filter: grayscale(1);
      img {
        @include pos;
        @include object(contain);
      }
    }
  }
}

.join_now {
  padding: 0;
  .flex {
    background-color: $primary-color;
    @include radius(18px);
    overflow: hidden;
    @include ipad_sm {
      flex-direction: column;
    }
    .colL {
      width: 50%;
      position: relative;
      @include ipad_sm {
        width: 100%;
        padding-bottom: 80%;
      }
      .image {
        @include pos;
        img {
          @include pos;
          @include object;
        }
      }
    }
    .colR {
      width: 50%;
      padding: 7rem 4rem;
      align-self: center;
      @include ipad_sm {
        width: 100%;
        padding: 3rem;
      }
      * {
        color: $white;
      }
      h2 {
        color: $white;
      }
      ul {
        @include list;
        li {
          margin-bottom: 1rem;
          position: relative;
          padding-left: 2.5rem;
          &:before {
            @include pos($r: null, $t: 0.4rem);
            content: "";
            background: url("../public/images/checked.png");
            @include bg(contain);
            width: 2rem;
            height: 2rem;
          }
        }
      }
      .site_btn {
        &:hover {
          background-color: $primary-color;
          border-color: $primary-color;
        }
        @include mobile_sm {
          width: 100%;
        }
      }
    }
  }
}

#smallbanner {
  @include bg;
  background-image: url(../public/images/banner1.jpg);
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    height: 100%;
    top: 0;
    width: 100%;
    position: absolute;
    content: "";
    left: 0;
    background-color: #0303038f;
  }
  .text {
    h1 {
      margin-bottom: 0;
    }
  }
}

#servcies {
  .col {
    width: calc(100% / 3);
    @include ipad_sm {
      width: calc(100% / 2);
    }
    @include mobile_sm {
      width: 100%;
      padding: 10px 0;
    }
    padding: 20px;
    flex: unset;
    .inner {
      background-color: #363635;
      padding: 20px;
      border-radius: 20px;
      .image {
        border-radius: 20px;
        height: 230px;
        overflow: hidden;
        margin-bottom: 20px;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
      .link {
        color: $primary-color;
        margin-top: 20px;
      }
    }
  }
}

.pricing_sec {
  .cntnt {
    max-width: 100rem;
    margin: 0 auto 3rem;
    p {
      max-width: 70rem;
      margin: 0 auto;
    }
  }
  .flex {
    margin: -2rem;
    .col {
      padding: 2rem;
      flex: unset;
      width: calc(100% / 3);
      @include ipad_sm {
        width: 50%;
      }
      @include mobile_md {
        width: 100%;
      }
      .inner {
        background: #2a2a2a;
        @include radius(30px);
        padding: 4rem;
        text-align: center;
        // border: 1px solid rgba($primary-color, 0.6);
        @include trans;

        ul {
          @include list;
          margin: 2rem 0 3rem;
          li {
            margin-bottom: 1rem;
          }
        }
        .btn_blk {
          .site_btn {
            // background: $color3;
            // border-color: $color3;
          }
        }
        .icon {
          width: 13rem;
          height: 13rem;
          @include radius(50%);
          background-color: #191918;
          @include flex(center, center);
          margin: 0 auto 3rem;
          // box-shadow: 0px 0px 13px 0px rgba(34, 161, 217, 0.6);
          .inner_icon {
            width: 10rem;
            height: 10rem;
            @include radius(50%);
            overflow: hidden;
            background-color: $black;
            // box-shadow: 0px 0px 13px 0px rgba(34, 161, 217, 0.6);
            padding: 0.5rem;
            img {
              @include object(contain);
            }
          }
        }
        h1,
        p,
        li,
        h4 {
          @include trans;
        }
        // &:hover {
        //   @include trans;
        //   background-color: $primary-color;
        //   h1,
        //   p,
        //   li,
        //   h4 {
        //     color: $black;
        //     @include trans;
        //   }
        //   .btn_blk {
        //     .site_btn {
        //       background-color: $black;
        //       border-color: $black;
        //       color: $black;
        //     }
        //   }
        // }
      }
    }
  }
}
// ======
.contact_us {
  .flex {
    .cols {
      width: 50%;
      @include ipad_sm {
        width: 100%;
      }
    }
    .col1 {
      align-self: center;
      padding-right: 30px;
      @include ipad_sm {
        padding-right: 0;
        padding-bottom: 20px;
      }
      ul {
        padding-left: 0;
        li {
          list-style: none;
        }
      }
      .sec_content {
        ul {
          li {
            padding-bottom: 8px;
            font-family: "Light";
            color: rgba($white, 0.8);
            strong {
              padding-right: 10px;
              color: $white;
            }
            a {
              color: rgba($white, 0.8);
            }
          }
        }
      }
      .socials {
        ul {
          display: flex;
          align-items: center;
          margin-top: 15px;
          li {
            width: 40px;
            height: 40px;
            background: #3d3c3c;
            border-radius: 100%;
            line-height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            margin: 0 5px;
          }
        }
      }
    }
    .col2 {
      .inner {
        background: #282828;
        padding: 40px;
        border-radius: 14px;
        h3 {
          text-align: center;
        }
        form {
          .txtGrp {
            margin-bottom: 15px;
          }
          .input {
            background: #383737;
            border: 1.5px solid #373737;
            color: #fff;
            &::placeholder {
              color: rgba($white, 0.7);
            }
          }
          .cta {
            width: fit-content;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
// ====
.sec_program {
  .sec_heading {
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    width: 71%;
    @include ipad_sm {
      width: 90%;
    }
    @include mobile_sm {
      width: 100%;
    }
  }
  .cols {
    width: calc(100% / 3);
    @include ipad_sm {
      width: calc(100% / 2);
    }
    @include mobile_sm {
      width: 100%;
    }
    padding: 10px;
    .inner {
      box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%);
      border-radius: 20px;
      background: #282828;
      padding: 15px;
      .image {
        position: relative;
        padding-bottom: 80%;
        overflow: hidden;
        border-radius: 20px;
        img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      .lower-content {
        padding-top: 15px;
        p {
          color: #a3a3a3;
          margin-bottom: 23px;
          border-top: 1px solid #eeeeee17;
          padding-top: 20px;
        }
      }
    }
  }
}
.server-setup {
  padding-top: 0;
  .sec_heading {
    max-width: 700px;
    margin: 0px auto 40px;
    h2 {
      text-transform: uppercase;
    }
  }
  .flex {
    margin: -10px;
    justify-content: center;
    .col {
      width: 50%;
      padding: 10px;
      flex: unset;
      @include mobile_sm {
        width: 100%;
      }
      .inner {
        display: flex;
        background: radial-gradient(
          100% 100% at 40% 60%,
          rgb(40, 40, 43) 60%,
          #f14545 100%
        );
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        padding: 3rem;
        box-shadow: 0px 0px 30px 20px rgba(0, 0, 0, 0.1882352941);
        height: 100%;
        align-items: center;
        .sm_icon {
          width: 25px;
          height: 25px;
          img {
            filter: brightness(0) invert(1);
            -webkit-filter: brightness(0) invert(1);
          }
        }
        .cntnt {
          flex: 1;
          margin-left: 15px;
          h3 {
            margin-bottom: 0;
            font-size: 20px;
            font-family: "Regular";
            opacity: 0.7;
          }
        }
      }
    }
  }
}
